{:deps {witek/browser-headsup {:mvn/version "1.0.2"}}

 :aliases
 {:dev {:extra-paths ["target"]
        :override-deps {witek/browser-headsup {:local/root "../browser-headsup"}}
        :extra-deps {com.bhauman/figwheel-main       {:mvn/version "RELEASE"}
                     com.bhauman/rebel-readline-cljs {:mvn/version "RELEASE"}
                     binaryage/devtools              {:mvn/version "RELEASE"}}
        :main-opts ["--main" "figwheel.main" "--build" "dev"]}

  :ancient {:main-opts ["-m" "deps-ancient.deps-ancient"]
            :extra-deps {deps-ancient {:mvn/version "RELEASE"}}}}}
